<nav class="[ c-navigation-main ] u-spacers  o-l__f-row-justify-end">
  <%= content_tag :span, :class => "u-space #{current_page?('/') ? 'nav-item--active' : ''}" do -%>
    <%= link_to "About", '/', title: "", :class => "c-navigation-main__link"  %>
  <% end -%>
  <%= content_tag :span, :class => "u-space #{current_page?('/skills') ? 'nav-item--active' : ''}" do -%>
    <%= link_to "Skills", skills_path, title: "", :class => "c-navigation-main__link"  %>
  <% end -%>
  <%= content_tag :span, :class => "u-space #{request.fullpath.start_with?('/work') ? 'nav-item--active' : ''}" do -%>
    <%= link_to "Work", work_path, title: "", :class => "c-navigation-main__link"  %>
  <% end -%>
  <span class="u-space">
    <a href="https://twitter.com/jakegonzales" class="c-navigation-main__link--icon c-navigation-main__link"><i class="fab fa-twitter"></i></a>
  </span>
  <span class="u-space">
    <a href="mailto:comms@jakegonzales.com" class="u-email-copy-btn c-navigation-main__link--icon c-navigation-main__link"><i class="far fa-envelope"></i><span class="u-email-copy-address u-js--hidden">comms@jakegonzales.com</span></a>
  </span>
</nav>