<% content_for :body_class, "work-single " %>
<% content_for :title, "" %>
<% content_for :description, "" %>

<%= render 'shared/work_before' %>


      <header class="c-work-single__header u-spacers">
        <div class="u-space-md">
          <span class="c-article__page-topper">IZO Photography</span>
        </div>
        <div class="u-space-stack-lg">
          <h1 class="c-work-single__title">Photographer of the Year.</h1>
          <section class="c-work-single__description">
            <p>Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <a class="c-article__link-alone" href="http://izo.com.au" title="IZO Photography Website.">izo.com.au</a>
          </section>
        </div>

        <div class="u-space-md">
          <div style="--aspect-ratio:1600/940;" class="u-image-loader">
            <%= image_tag("work/izo-photography/izo-photography__web-banner.jpg", alt: "") %>
          </div>
        </div>
      </header>


      <main class="c-work-single__main u-spacers">

        <div class="u-space-md">
          <aside class="c-article__colophon">
            <h1>Credits</h1>
            <p>A Kasiani Amara Project (Designer/Director at Emorfia) in conjuction with Two Of Three. Desktop designs by Kasiana. Graphics preparation by Adam Gormley.</p>
            <p>I worked on asset construction, SVG creation, animation, and device friendly layouts.</p>
            <h2>Support</h2>
            <p>Quote, Project Management, and environment support from Michael Congiusta. Fairy animation and typography support from Adam Gormley. Both Adam and I worked on creative direction.</p>
          </aside>
        </div>

        <div class="o-l__g-fluid">
          <div class="u-space"><div style="--aspect-ratio:800/470;" class="u-image-loader">
            <%= image_tag("work/izo-photography/izo-photography__web-about-800x470.jpg", alt: "") %>
          </div></div>
          <div class="u-space"><div style="--aspect-ratio:800/470;" class="u-image-loader">
            <%= image_tag("work/izo-photography/izo-photography__web-menu-800x470.jpg", alt: "") %>
          </div></div>
        </div>

        <div class="u-space-md"><div style="--aspect-ratio:1600/940;" class="u-image-loader">
          <%= image_tag("work/izo-photography/izo-photography__web-latest.jpg", alt: "") %>
        </div></div>
        <div class="u-space-md"><div style="--aspect-ratio:1600/940;" class="u-image-loader">
          <%= image_tag("work/izo-photography/izo-photography__web-overview.jpg", alt: "") %>
        </div></div>

      </main>


<%= render 'shared/work_after' %>