<% content_for :body_class, "work-single " %>
<% content_for :title, "" %>
<% content_for :description, "" %>

<%= render 'shared/work_before' %>


      <header class="c-work-single__header u-spacers">
        <div class="u-space-md">
          <span class="c-article__page-topper">Star International</span>
        </div>
        <div class="u-space-stack-lg">
          <h1 class="c-work-single__title">Trusted By The Australian Defence Industry</h1>
          <section class="c-work-single__description">
            <p>Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
            <a class="c-article__link-alone" href="http://starinternational.com.au" title="Star International Website.">starinternational.com.au</a>
          </section>
        </div>

        <div class="u-space-md">
          <%= image_tag("work/star-international/star-international__web-banner.jpg", alt: "Side by side comparison of desktop and mobile views of the Star International home page.") %>
        </div>
      </header>


      <main class="c-work-single__main u-spacers">

        <div class="o-l__g-simple">
          <div class="u-space">
            <%= image_tag("work/star-international/star-international__web-internal-800x470.jpg", alt: "") %>
          </div>
          <div class="u-space">
            <%= image_tag("work/star-international/star-international__web-contact-800x470.jpg", alt: "") %>
          </div>
        </div>

        <div class="u-space-md">
          <%= image_tag("work/star-international/star-international__web-home-grid.jpg", alt: "") %>
        </div>

      </main>


<%= render 'shared/work_after' %>