

<div class="o-l__g-2-col">

  <div class="o-l__f-2-row">
    <%= render 'shared/nav_main' %>

    <ol class="o-l-tesseract o-l__f-align-center">

      <li class="o-l-tesseract__obvious poster">

          <figure class="poster__image u-image-loader">
            <%= link_to work_wintec_path, :title => "Wintec Saddles Web Project" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-wintec-saddles.jpg", alt: "A Wintec Synthetic Saddle, Black") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static">
            <header class="text__header">
              <%= link_to work_wintec_path, :title => "Wintec Saddles Web Project" do %><h1 class="u-space">The World’s Number One Synthetic Saddle: Wintec Saddles.</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Wordpress</li>
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">Design</li>
                <li class="c-tag-list__tag">Photoshop</li>
              </ul>
            </div>
          </figcaption>

      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image u-image-loader">
            <%= link_to work_bates_path, :title => "Bates Saddles Web Project" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-bates-saddles.jpg", alt: "A Bates Saddle, Adjustable Ergonomic Stirrup Bar Closeup") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static u-ltr">
            <header class="text__header">
              <%= link_to work_bates_path, :title => "Bates Saddles Web Project" do %><h1 class="u-space">The most saddle patents globally: Bates Saddles.</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Wordpress</li>
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">Design</li>
                <li class="c-tag-list__tag">Photoshop</li>
              </ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image u-image-loader">
            <%= link_to work_izo_path, :title => "IZO Photography Web Project" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-izo-photography.jpg", alt: "A hexagonal treatment for images on izo.com.au") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static u-ltr">
            <header class="text__header">
              <%= link_to work_izo_path, :title => "IZO Photography Web Project" do %><h1 class="u-space">Photographer of the Year: IZO Photography</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Wordpress</li>
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">UX</li>
                <li class="c-tag-list__tag">jQuery</li>
              </ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster u-rtl">

        <figure class="poster__image u-image-loader">
            <%= link_to work_star_path, :title => "Star International Web Project" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-star-international.jpg", alt: "A closeup of a text treatment on starinternational.com.au") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static u-ltr">
            <header class="text__header">
              <%= link_to work_star_path, :title => "Star International Web Project" do %><h1 class="u-space">Trusted By The Australian Defence Industry: Star International.</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Craft CMS</li>
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">UX</li>
                <li class="c-tag-list__tag">SVG</li>
                <li class="c-tag-list__tag">CSS Grid</li>
                <li class="c-tag-list__tag">Animation</li>
              </ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__obvious poster">

        <figure class="poster__image u-image-loader">
            <%= link_to work_muh_invite_path, :title => "Christmas Invite: Macquarie University Hospital Web Project, Technical Case Study" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-macquire-university-hospital.jpg", alt: "Text saying 'Open the garden gate' on a forest background") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static">
            <header class="text__header">
              <%= link_to work_muh_invite_path, :title => "Christmas Invite: Macquarie University Hospital Web Project, Technical Case Study" do %><h1 class="u-space">A Dreamy Botanical Adventure Christmas Party Web Invite</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">SVG</li>
                <li class="c-tag-list__tag">Animation</li>
              </ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster">

        <figure class="poster__image u-image-loader">
            <%= link_to work_wa_meats_path, :title => "WA Exclusive Meats Web Project" do %>
              <div style="--aspect-ratio:800/400;">
                <%= image_tag("work/thumb-wa-exclusive-meats.jpg", alt: "An old photo showing the first customers to a butcher on Constitution Street, Bunbury, 1993") %>
              </div>
            <% end %>
          </figure>
          <figcaption class="poster__text u-spacers-static">
            <header class="text__header">
              <%= link_to work_wa_meats_path, :title => "WA Exclusive Meats Web Project" do %><h1 class="u-space">Over 80 years serving the community: WA Exclusive Meats</h1><% end %>
            </header>
            <div class="text__body u-space">
              <ul class="c-tag-list">
                <li class="c-tag-list__tag">Wordpress</li>
                <li class="c-tag-list__tag">Frontend</li>
                <li class="c-tag-list__tag">UX</li>
                <li class="c-tag-list__tag">Illustration</li>
              </ul>
            </div>
          </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image u-image-loader">
          <%= link_to work_anomaly_path, :title => "Liam Dee Art Animated" do %>
            <div style="--aspect-ratio:800/400;">
              <%= image_tag("work/thumb-freo-glitch.jpg", alt: "Closeup of an artwork by Liam Dee") %>
            </div>
          <% end %>
        </figure>
        <figcaption class="poster__text u-spacers-static u-ltr">
          <header class="text__header">
            <%= link_to work_anomaly_path, :title => "Liam Dee Art Animated" do %><h1 class="u-space">Bringing Liam Dee's Artwork to Life</h1><% end %>
          </header>
          <div class="text__body u-space">
            <ul class="c-tag-list">
              <li class="c-tag-list__tag">CSS Animation</li>
              <li class="c-tag-list__tag">Photoshop</li>
            </ul>
          </div>
        </figcaption>
      </li>

      <li class="o-l-tesseract__simple poster u-rtl">

        <figure class="poster__image u-image-loader">
          <%= link_to work_glitched_path, :title => "Glitched Computer Screen Animation for Two Of Three" do %>
            <div style="--aspect-ratio:800/400;">
              <%= image_tag("work/thumb-glitch-horror.jpg", alt: "Closeup of an illustrated computer screen and keyboard") %>
            </div>
          <% end %>
        </figure>
        <figcaption class="poster__text u-spacers-static u-ltr">
          <header class="text__header">
            <%= link_to work_glitched_path, :title => "Glitched Computer Screen Animation for Two Of Three" do %><h1 class="u-space">Glitched Horror</h1><% end %>
          </header>
          <div class="text__body u-space">
            <ul class="c-tag-list">
              <li class="c-tag-list__tag">CSS Animation</li>
            </ul>
          </div>
        </figcaption>
      </li>
      
    </ol>  

    <div class="u-space-lg o-l__f-align-center">
      <%= link_to skills_path, class: '[ c-button c-button-icon ]' do %>
        <i class="[ c-button-icon__icon ] fa fa-arrow-left"></i>
        <span class="[ c-button-icon__text ]">Skills</span>
      <% end %>
    </div>

  </div>

  

</div>


